.btn {
  border: 1px solid transparent;
  border-radius: .25rem;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 25px;
  justify-content: center;
  padding: .375rem .75rem;
  text-decoration: none;
}
